# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@localhost:6969/postgres?schema=public"

# Next Auth
# You can generate the secret via 'openssl rand -base64 32' on Linux
# More info: https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=s54AGx7ayzOpVFUj1Ljt841hoE0xpo+j+I/3B9HGUVQ=
NEXTAUTH_URL=http://localhost:3000

# S3 Compatible Storage
S3_ACCESS_KEY_ID="J9jiu0i7jrqoJEwO"
S3_SECRET_ACCESS_KEY="29oOdS0Buo99jA4KXeKwLfbK1cTbIDpm"
S3_ENDPOINT="http://localhost:9003"
S3_PUBLIC_URL="http://localhost:9003/wigglepaw"
S3_BUCKET="wigglepaw"