@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(222.2 47.4% 11.2%);

  --primary: hsl(222.2 47.4% 11.2%);
  --primary-foreground: hsl(210 40% 98%);

  --secondary: hsl(210 40% 96.1%);
  --secondary-foreground: hsl(222.2 47.4% 11.2%);

  --accent: hsl(210 40% 96.1%);
  --accent-foreground: hsl(222.2 47.4% 11.2%);

  --muted: hsl(210 40% 96.1%);
  --muted-foreground: hsl(215.4 16.3% 46.9%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(222.2 47.4% 11.2%);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222.2 47.4% 11.2%);

  --destructive: hsl(0 100% 50%);
  --destructive-foreground: hsl(210 40% 98%);

  --border: hsl(214.3 31.8% 91.4%);
  --input: hsl(214.3 31.8% 91.4%);
  --ring: hsl(215 20.2% 65.1%);

  /* --radius: 0.5rem; */
}

.dark {
  --background: hsl(224 71% 4%);
  --foreground: hsl(213 31% 91%);

  --primary: hsl(210 40% 98%);
  --primary-foreground: hsl(222.2 47.4% 1.2%);

  --secondary: hsl(222.2 47.4% 11.2%);
  --secondary-foreground: hsl(210 40% 98%);

  --accent: hsl(216 34% 17%);
  --accent-foreground: hsl(210 40% 98%);

  --muted: hsl(223 47% 11%);
  --muted-foreground: hsl(215.4 16.3% 56.9%);

  --popover: hsl(224 71% 4%);
  --popover-foreground: hsl(215 20.2% 65.1%);

  --card: hsl(224 71% 4%);
  --card-foreground: hsl(213 31% 91%);

  --destructive: hsl(0 63% 31%);
  --destructive-foreground: hsl(210 40% 98%);

  --border: hsl(216 34% 17%);
  --input: hsl(216 34% 17%);
  --ring: hsl(216 34% 17%);

  /* --radius: 0.5rem; */
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground;
  font-feature-settings: "rlig" 1, "calt" 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply leading-normal;
}

.rdg-light {
  /* --rdg-color: #000; */
  --rdg-color: var(var(--foreground));
  --rdg-border-color: #ddd;
  --rdg-summary-border-color: #aaa;
  /* --rdg-background-color: hsl(0deg 0% 100%); */
  --rdg-background-color: var(--background);
  --rdg-header-background-color: hsl(0deg 0% 97.5%);
  --rdg-row-hover-background-color: hsl(0deg 0% 96%);
  --rdg-row-selected-background-color: hsl(207deg 76% 92%);
  --rdg-row-selected-hover-background-color: hsl(207deg 76% 88%);
  --rdg-checkbox-color: hsl(207deg 100% 29%);
  --rdg-checkbox-focus-color: hsl(207deg 100% 69%);
  --rdg-checkbox-disabled-border-color: #ccc;
  --rdg-checkbox-disabled-background-color: #ddd;
  --rdg-selection-color: #66afe9;
  --rdg-font-size: 14px;
}

.rdg-dark {
  --rdg-color-scheme: dark;
  /* --rdg-color: #000; */
  --rdg-color: var(var(--foreground));
  --rdg-border-color: #444;
  --rdg-summary-border-color: #555;
  /* --rdg-background-color: hsl(0deg 0% 100%); */
  --rdg-background-color: var(--background);
  --rdg-header-background-color: hsl(0deg 0% 10.5%);
  --rdg-row-hover-background-color: hsl(0deg 0% 9%);
  --rdg-row-selected-background-color: hsl(207deg 76% 42%);
  --rdg-row-selected-hover-background-color: hsl(207deg 76% 38%);
  --rdg-checkbox-color: hsl(207deg 100% 79%);
  --rdg-checkbox-focus-color: hsl(207deg 100% 89%);
  --rdg-checkbox-disabled-border-color: #000;
  --rdg-checkbox-disabled-background-color: #333;
  --rdg-font-size: 14px;
}

.rdg {
  @apply border;
}

.rdg-cell {
  border-color: var(--rdg-border-color);
  @apply border-b border-r shadow-none;
}

.rdg-cell > .rdg-checkbox-label > .rdg-checkbox {
  border-color: var(--rdg-border-color);
}

.rdg-cell[aria-selected="true"] > .rdg-checkbox-label > .rdg-checkbox {
  border-color: var(--rdg-checkbox-focus-color);
}

.rdg-text-editor {
  @apply px-[6px];
}

.rdg-sort-arrow {
  @apply h-full align-middle;
}

.rdg-checkbox {
  @apply border-2;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #8b8b8b;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #606060;
}

::-webkit-scrollbar-track {
  background: transparent;
  outline: 1px solid var(--border);
}
