@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;

  --ring: 215 20.2% 65.1%;

  --radius: 0.5rem;
}

.dark {
  --background: 224 71% 4%;
  --foreground: 213 31% 91%;

  --muted: 223 47% 11%;
  --muted-foreground: 215.4 16.3% 56.9%;

  --accent: 216 34% 17%;
  --accent-foreground: 210 40% 98%;

  --popover: 224 71% 4%;
  --popover-foreground: 215 20.2% 65.1%;

  --border: 216 34% 17%;
  --input: 216 34% 17%;

  --card: 224 71% 4%;
  --card-foreground: 213 31% 91%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 1.2%;

  --secondary: 222.2 47.4% 11.2%;
  --secondary-foreground: 210 40% 98%;

  --destructive: 0 63% 31%;
  --destructive-foreground: 210 40% 98%;

  --ring: 216 34% 17%;

  --radius: 0.5rem;
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground;
  font-feature-settings: "rlig" 1, "calt" 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply tracking-tight;
}

p {
  @apply leading-normal;
}

/* Scrollbars */
* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.custom-scroll::-webkit-scrollbar {
  @apply block h-[11px] w-[11px];
}

.custom-scroll::-webkit-scrollbar-thumb {
  padding: 5px 5px;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  background: #909090;
  background-clip: padding-box;
  @apply rounded-full;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #606060;
}

.custom-scroll::-webkit-scrollbar-track:vertical {
  border-left: 1px solid hsl(var(--border));
  @apply rounded-[0_6px_0_0] bg-transparent;
}

.custom-scroll::-webkit-scrollbar-track:horizontal {
  border-top: 1px solid hsl(var(--border));
  @apply rounded-[0_0_0_6px] bg-transparent;
}

.custom-scroll::-webkit-scrollbar-corner {
  @apply rounded-[0_0_6px_0];
}
/* Scrollbars */

/*** React data grid ***/
.rdg {
  --rdg-color: hsl(var(--foreground));
  --rdg-border-color: hsl(var(--border));
  --rdg-summary-border-color: #aaa;
  --rdg-background-color: hsl(var(--background));
  --rdg-header-background-color: hsl(var(--secondary));
  --rdg-row-hover-background-color: hsl(var(--muted));
  --rdg-row-selected-background-color: hsl(207deg 76% 92%);
  --rdg-row-selected-hover-background-color: hsl(207deg 76% 88%);
  --rdg-checkbox-color: hsl(207deg 100% 29%);
  --rdg-checkbox-focus-color: hsl(207deg 100% 69%);
  --rdg-checkbox-disabled-border-color: #ccc;
  --rdg-checkbox-disabled-background-color: #ddd;
  --rdg-selection-color: #66afe9;
  --rdg-font-size: 14px;
}

.dark .rdg {
  --rdg-color: hsl(var(--foreground));
  --rdg-border-color: hsl(var(--border));
  --rdg-summary-border-color: #aaa;
  --rdg-background-color: hsl(var(--background));
  --rdg-header-background-color: hsl(var(--secondary));
  --rdg-row-hover-background-color: hsl(var(--muted));
  --rdg-row-selected-background-color: hsl(207deg 76% 42%);
  --rdg-row-selected-hover-background-color: hsl(207deg 76% 38%);
  --rdg-checkbox-color: hsl(207deg 100% 79%);
  --rdg-checkbox-focus-color: hsl(207deg 100% 89%);
  --rdg-checkbox-disabled-border-color: #000;
  --rdg-checkbox-disabled-background-color: #333;
  --rdg-selection-color: #66afe9;
  --rdg-font-size: 14px;
}

.rdg {
  @apply custom-scroll select-none overflow-scroll rounded-md border shadow-sm;
}

.rdg-header-row {
  color: hsl(var(--secondary-foreground));
}

.rdg-header-row > .rdg-cell:first-child[aria-selected="true"]:after {
  @apply rounded-tl-md;
}

.rdg-header-row > .rdg-cell:last-child {
  @apply border-r-0;
}

.rdg-row > .rdg-cell:last-child {
  @apply border-r-0;
}

.rdg-summary-row > .rdg-cell {
  @apply border-b-0 border-t font-bold;
}

.rdg-cell {
  border-color: var(--rdg-border-color);
  @apply border-b border-r px-2 tabular-nums shadow-none;
}

.rdg-cell > .rdg-checkbox-label > .rdg-checkbox {
  border-color: var(--rdg-border-color);
}

.rdg-cell[aria-selected="true"] {
  @apply outline-none;
}

.rdg-cell[aria-selected="true"]:after {
  content: "";
  border-color: var(--rdg-selection-color);
  @apply pointer-events-none absolute inset-0 block border-2;
}

.rdg-cell[aria-selected="true"] > .rdg-checkbox-label > .rdg-checkbox {
  border-color: var(--rdg-checkbox-focus-color);
}

.rdg-sort-arrow {
  @apply h-[40px] max-h-[40px] min-h-[40px] align-middle;
}

.rdg-sort-arrow > path {
  @apply duration-0;
}

.rdg-checkbox {
  @apply border-2;
}
/*** React data grid ***/
